	<!--education-->
	<div id="education" class="education">
		<div class="container">
			<h3 class="title">Educación</h3>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>{{educationsOne.date_studies}}</h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-education"> </span> {{educationsOne.university_name}}</h5>
					<p>Titulo del programa: {{educationsOne.program_title}} </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-right work-right2"> 
					<h4>{{educationsTwo.date_studies}}</h4>
				</div>
				<div class="col-md-6 work-left work-left2"> 
					<h5 style="height: 42px; padding-top: 5px;"> {{educationsTwo.university_name}} <span class="glyphicon glyphicon-education"></span></h5>
					<p>Titulo del programa: {{educationsTwo.program_title}} </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>{{educationsThree.date_studies}}</h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-education"> </span> {{educationsThree.university_name}}</h5>
					<p>Titulo del programa: {{educationsThree.program_title}} </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//education-->
