<!--Custom Theme files-->
<!-- <link href="../../assets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all"> -->
<!-- <link href="../../assets/css/style.css" type="text/css" rel="stylesheet" media="all"> -->
<!-- <link rel="stylesheet" href="../../assets/css/swipebox.css"> -->
<!--//Custom Theme files-->
<app-section-one></app-section-one>
<app-section-two></app-section-two>
<app-section-three></app-section-three>
<app-section-four></app-section-four>
<app-section-five></app-section-five>
<app-section-six></app-section-six>
<app-section-seven></app-section-seven> 
<app-footer></app-footer>