<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   
      <span>Usted debe Ingresar al sistema primero</span><br><br>
      <div class="row h-100 justify-content-center align-items-center">
        <form #myform="ngForm" (ngSubmit)="logForm(myform)">
          <div class="col-md-12 mb-3">
            <label for="forEmail1">Correo Electrónico</label>
            <input ngModel name="email" type="email" class="form-control" id="forEmail1" aria-describedby="emailHelp" required>
            <small id="emailHelp" class="form-text text-muted">Su correo electrónico debe estar registrado</small>
          </div>
          <div class="col-md-12 mb-3">
            <label for="forPassword">Clave Secreta</label>
            <input ngModel name="password" type="password" class="form-control" id="forPassword" required>
          </div>
          <button type="submit" class="btn btn-primary">Entrar</button>
          <br><br><span *ngIf="show" style="color: red;"><strong>Error de Credenciales</strong></span>
        </form>
        
      </div>
    
  </div>
  
</ion-content>




