
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
    
    
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Perfil Hoja de Vida</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" #myform="ngForm" (ngSubmit)="onClickSubmit(myform)">
                      <div *ngFor="let item of dataHtmlProfile" class="card-body">
                        <input type="hidden" class="form-control" name="idProfile" [(ngModel)]="item.id">
                        <div class="form-group">
                          <label for="nameProfile">Nombre Completo</label>
                          <input type="text" class="form-control" id="nameProfile" name="nameProfile" [(ngModel)]="item.name" placeholder="Nombre Completo">
                        </div>
                        <div class="form-group">
                          <label for="professionProfile">Profesión</label>
                          <input type="text" class="form-control" [(ngModel)]="item.profession" id="professionProfile" name="professionProfile" placeholder="Profesión">
                        </div>
                        <div class="form-group">
                          <label for="ageProfile">Edad</label>
                          <input type="number" class="form-control" [(ngModel)]="item.age" id="ageProfile" name="ageProfile" placeholder="Edad">
                        </div>
                        <div class="form-group">
                          <label for="mobileProfile">Teléfono</label>
                          <input type="text" class="form-control" id="mobileProfile" [(ngModel)]="item.phone" name="mobileProfile" placeholder="Teléfono">
                        </div>
                        <div class="form-group">
                          <label for="cityProfile">Ciudad</label>
                          <input type="text" class="form-control" id="cityProfile" [(ngModel)]="item.address" name="cityProfile" placeholder="Ciudad">
                        </div>
                        <div class="form-group">
                          <label for="emailProfile">Correo Electónico</label>
                          <input type="mail" class="form-control" id="emailProfile" [(ngModel)]="item.mail" name="emailProfile" placeholder="Correo Electónico">
                        </div>
                        <div class="form-group">
                          <label for="hangoutsGoogleProfile">Hangouts Google</label>
                          <input type="mail" class="form-control" id="emailGoogleProfile" [(ngModel)]="item.hangouts_google" name="emailGoogleProfile" placeholder="Hangouts Google">
                        </div>
                        <div class="form-group">
                          <label for="aboutMeProfile">Acerca de mí</label>
                          <textarea rows="3" class="form-control" id="aboutMeProfile" [(ngModel)]="item.about_me" name="aboutMeProfile" placeholder="Acerca de mí"></textarea>
                        </div>
                      </div>
                      <!-- /.card-body -->
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                      </div>
                    </form>
                  </div>
                  <!-- /.card -->
    
    
    </section>
    <!-- /.content -->
  </div>


<app-footer></app-footer>

