	<!--contact -->
	<div class="welcome contact" id="contact">
		<div class="container">
			<h3 class="title">Contacto</h3>
			<div class="contact-row">
				<div class="col-md-6 contact-left">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.3742952573375!2d-74.06713368569626!3d4.704871342932557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNMKwNDInMTcuNSJOIDc0wrAwMyc1My44Ilc!5e0!3m2!1ses-419!2sco!4v1591315169936!5m2!1ses-419!2sco"></iframe>
				</div>
				<div class="col-md-6 contact-right">
					<div class="address-left">
						<p>Bogotá,<br> Colombia </p>
					</div>
					<div class="address-right">
						<p>Movil :  +571 316 768 6872</p>
						<p>E-mail : <a href="mailto:ingeniero@amilcargomez.tech">ingeniero@amilcargomez.tech</a></p>
					</div>
					<div class="clearfix"></div>
					<div class="contact-form">
						<form action="#" method="post">
							<input type="text" name="Name" placeholder="Name" required="" disabled>
							<input class="email" name="Email" type="text" placeholder="Email" required="" disabled>
							<input class="phone" name="phone" type="text" placeholder="Phone" required="" disabled>
							<textarea name="Message" placeholder="Message" required="" disabled	></textarea>
							<!-- <input type="submit" value="SUBMIT" > -->
						</form>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//contact -->
